.container-chart-screen {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  overflow-x: hidden;
}

.container-error-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.container-text-chart-error {
  margin-top: 20px;
  font-size: 20px;
}

.container-info-chart-screen {
  width: 100%;
}

.container-component-charts {
  padding-top: 111px;
}

@media screen and (min-width: 1600px) {
  .container-component-charts {
    padding-top: 50px !important;
  }
}

@media only screen and (max-width: 384px) {
  .container-chart-screen {
    overflow: scroll !important;
    overflow-x: hidden !important;

    /* margin-top: 83px; */
    position: relative;
  }
  .container-info-chart-screen {
    position: relative;
    margin-top: 382px !important;
  }
  .main-container-icon-chart {
    top: 15px !important;
    width: 100% !important;
    margin-left: 28px;
    justify-content: space-evenly !important;
  }
  .container-component-charts {
    padding-top: 193px !important;
  }
}

@media only screen and (max-width: 600px) {
  .container-chart-screen {
    overflow: scroll !important;
    overflow-x: hidden !important;

    /* margin-top: 83px; */
    position: relative;
  }
  .container-info-chart-screen {
    position: relative;
    margin-top: 382px !important;
  }
  .main-container-icon-chart {
    top: 15px !important;
    width: 100% !important;
    margin-left: 28px;
    justify-content: space-evenly !important;
  }
  .container-component-charts {
    padding-top: 163px;
  }
}

/* @media (max-height: 840px) {
  .container-component-charts {
    padding-top: 50px !important;
    box-sizing: border-box;
  }
} */

.main-container-icon-chart {
  position: absolute;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 19px;
  z-index: 2;
}

.container-icon-chart {
  cursor: pointer;
  transition: 0.2s;
}

.container-icon-chart:hover {
  opacity: 0.5;
}
